$accentColorW: #ED1E79;
$accentColorH: #2CB696;
$wifeColor: #FDC8C1;
$husbandColor: #C0E9E0;

%btnBase {
  text-decoration: none;
  font-weight: normal;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
}
%btnBase:hover {
  opacity: 0.8;
}

/*◆ＰＣのみ*/
@mixin hp($min-width:769px) {
	@media only screen and (min-width: $min-width) {
		@content;
	}
}
/*◆タブレット以下*/
@mixin ta($max-width:768px) {
	@media only screen and (max-width: $max-width) {
		@content;
	}
}
/*◆スマホのみ*/
@mixin sm($max-width:640px) {
	@media only screen and (max-width: $max-width) {
		@content;
	}
}
