.container {
  padding-top: 100px;
}
.container p {
  font-size: 95%;
  margin-bottom: 1em;
}
.container .mp {
  font-family: 'M PLUS 1p', sans-serif;
}
.section-pt {
  padding-top: 15px;
}
.section-pb {
  padding-bottom: 20px;
}
.section-title {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.sub__title {
  font-size: 16px;
  margin-bottom: 5px;
}
.error {
  font-size: 14px;
  color: $accentColorW;
}
.btn__wrap {
  text-align: center;
  margin-top: 20px;
}
.btn__grade {
  background: linear-gradient(90deg, rgba(244, 172, 172, 1) 0.95%, rgba(215, 237, 234, 1) 100%);
  color: #fff;
  @extend %btnBase;
}
.btn__accent {
  background-color: $accentColorW;
  color: #fff;
  @extend %btnBase;
}
.btn__clear {
  background-color: #fff;
  border: 1px solid #999;
  color: #999;
  @extend %btnBase;
}
.btn__gry {
  background-color: #ccc;
  color: #fff;
  @extend %btnBase;
}
.btn__click {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #999;
  text-decoration: none;
  font-weight: normal;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
}
/**/
.btn__link {
  background: $wifeColor;
}
.task-form {
  .input__box {
    background-color: $wifeColor;
  }
}
/* task-box */
.mission {

  .task-box {
    margin-bottom: 20px;

    .box {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      align-items: center;
      padding: 15px 20px;

      @include sm {
        padding: 15px;
        display: block;
        position: relative;
      }
    }
    .time_over {
      position: relative;
      &::before {
      content: "";
      width: 361px;
      height: 92px;
      position: absolute;
      top: calc( 50% - 45px);
      left: calc( 50% - 190px);
      background: url(~/assets/img/time_over.png) no-repeat center / 100% auto;
      z-index: 3;
      }
    }
    &__in {
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      position: relative;
      -webkit-align-items: center;
      align-items: center;

      @include sm {
        -webkit-flex-flow: column;
        flex-flow: column;
        -webkit-align-items: flex-start;
                align-items: flex-start;
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
      }
    }
    &__main {
      @include sm  {
        width: 100%;
      }

    }
    &__title {
      clear: both;
      margin-bottom: 10px;
    }
    &__limit {
      display: inline-block;
      font-size: 14px;
      padding: 5px 15px 5px 40px;
      background: url(~/assets/img/limit.png) no-repeat left 10px center;
      background-size: 23px;
      border-radius: 5px;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: $wifeColor;

      @include sm {
        float: right;
        font-size: 12px;
      }
    }
    &__limit.hurry {
      background-color: #EB0000 !important;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 36px;
        height: 15px;
        background: url(~/assets/img/hurry.png) no-repeat center / auto 100%;
        margin-right: 10px;

        @include sm {
          position: relative;
          top: 2px;
        }
      }
    }
    &__icon {
      width: 50px;
      height: 50px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      margin-right: 20px;
      background: url(~/assets/img/icon01.png) no-repeat center / 100% auto;

      @include sm {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
    &__tonow {
      font-size: 12px;
      @include sm  {
        font-size: 10px;
      }
    }
    &__controller {
      @include sm {
        clear: both;
        margin-top: 5px;
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
                justify-content: center;
        button {
          font-size: 12px;
          min-width: 80px;
          padding: 10px 15px;
        }
        button+button {
          margin-left: 10px;
        }
      }

    }
  }
}
.husband {
  .task-form {
    .input__box {
      background-color: $husbandColor;
    }
  }
  .btn__link {
    background: #dbf3ed;
  }
  .btn__accent {
    background-color: $accentColorH;
    color: #fff;
    @extend %btnBase;
  }
  .task-box {
    &__limit {
      background-color: $husbandColor;
    }
  }
}
.task-box {
  &__icon.hicon {
    background-image: url(~/assets/img/icon02.png);
  }
}

/* ページ別 */
.welcome__title {
  font-size: 110%;
}
.form__box {
  max-width: 300px;
  margin: auto;
}
.invitation {
  margin: 40px auto;
  width: 80%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  @include ta {
    width: auto;
    padding: 20px;
    margin: 20px auto;
  }

  &__title {
    font-size: 110%;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: #ccc;
    padding: 5px 15px;
    border-radius: 15px;
    display: inline-block;
  }
}
#footer {
  background-color: #111;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  z-index: 99;
}
.copyright {
  color: #fff;
  line-height: 60px;
  font-size: 14px;
}
@media screen and (min-width: 1150px) {
  .container {
    padding-bottom: 60px;
  }
  #footer  {
    min-height: 60px;
    margin-top: -60px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px;

  }
  .section-title {
    font-size: 18px;
  }
  .copyright {
    font-size: 12px;
    line-height: 45px;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;

  }
  .section-title {
    font-size: 16px;
  }
  .form__box {
    max-width: 280px;
    margin: auto;
  }
}
