#container p {
  font-size: 95%;
}
.section__title {
  font-size: 18px;
  margin-bottom: 5px;
}
.sub__title {
  font-size: 16px;
  margin-bottom: 5px;
}
.error {
  font-size: 14px;
  color: #ED1E79;
}
.btn__wrap {
  text-align: center;
  margin-top: 20px;
}
.btn__grade {
  background: linear-gradient(90deg, rgba(244, 172, 172, 1) 0.95%, rgba(215, 237, 234, 1) 100%);
  color: #fff;
  @extend %btnBase;
}
.btn__accent {
  background-color: #ED1E79;
  color: #fff;
  @extend %btnBase;
}
.btn__clear {
  background-color: #fff;
  border: 1px solid #999;
  color: #999;
  @extend %btnBase;
}
.btn__gry {
  background-color: #ccc;
  color: #fff;
  @extend %btnBase;
}
.btn__click {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #999;
  text-decoration: none;
  font-weight: normal;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
}
.wife {
  .btn__link {
    background: #f7b4ab;
  }
}
.husband {
  .btn__link {
    background: #9bdbc2;
  }
}
.welcome__title {
  font-size: 110%;
}
.form__box {
  max-width: 300px;
  margin: auto;
}
#footer {
  background-color: #111;
  box-sizing: border-box;
  padding: 0;
  min-height: 60px;
  margin-top: -60px;
  position: relative;
  z-index: 99;
}
.copyright {
  color: #fff;
  line-height: 60px;
  font-size: 14px;

}
@media screen and (min-width: 1150px) {
  #container {
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 768px){
  #footer {
    min-height: 50px;
    margin-top: -50px;
  }
  .copyright {
    font-size: 12px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 640px){
  .form__box {
    max-width: 280px;
    margin: auto;
  }
}
